$text: #050505;
$font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
$text-color-gray: #65676b;
$main-color: rgb(8, 102, 255);

$background-color-greyish: #f8f9fa;
$background-color-medium-gray: #f1f2f6;
$background-color-gray: #ebebeb;
$background-color-dark-gray: #e4e6eb;

$box-shadow: #d8d3d3;
$border: #dadde1;
