@import '~/styles/variables';

.login-wrapper {
    width: 30%;
    box-shadow: 0 0 0.6rem 0.1rem $box-shadow;

    .forgot-password {
        display: block;
        color: #0d6efd;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 0.8rem;
    }

    .sign-up-wrapper {
        border-top: 0.1rem solid $border;
        margin-top: 2rem;
        padding-top: 2rem;

        .sign-up-btn {
            font-size: 1.6rem;
            background-color: #44b52e;
            border-color: #44b52e;

            &:hover,
            &:active {
                background-color: #3c9b29;
            }
        }
    }
}

.modal-sign-up-title {
    font-size: 2.2rem;
    font-weight: 700;
}

.invalid-feedback {
    font-size: 1.6rem;
    color: #dc3545;
    margin-top: 0.25rem;
    white-space: nowrap;
}

.show-hide-password {
    position: absolute;
    right: 3rem;
    top: 1rem;
    font-size: 1.4rem;
}

.invalid {
    border-color: var(--bs-form-invalid-border-color) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
}
